<div class="container text-center my-2 d-sm-block d-lg-none">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <a href="./index.html" class="btn btn-outline-primary">Home</a>
        <a href="" class="btn btn-outline-primary">Quiz</a>
        <a href="./login.html" class="btn btn-outline-primary">Login</a>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary d-none d-lg-block">
    <div class="container">
        <a class="navbar-brand" href="./index.html">Quiz-BCA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'catalogue:dashboard' %}">Home</a>
                </li>
                
                
                
            </ul>
            <form class="d-flex" role="search">
                
                <a href="{% url 'account:login' %}" class="btn btn-primary ms-2">Login</a>
            </form>
        </div>
    </div>
</nav>